appdirs==1.4.4
backoff==2.2.1
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.2
dateparser==1.2.2
decorator==5.2.1
idna==3.10
numpy==2.3.2
pandas==2.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.7.34
requests==2.32.4
shelved-cache==0.3.1
six==1.17.0
tabulate==0.8.10
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
wbdata==1.0.0